<%= form_with(model: note, url: form_url) do |form| %>
  <% if note.errors.any? %>
    <div role="alert" class="alert alert--error">
      <% note.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="note-form__heading">
    <%= form.text_field :title, required: true, placeholder: "Title", "aria-label": "Title" %>
    <menu class="btn-group">
      <% if note.persisted? %>
        <%= link_to "View", folder_note_path(note.folder, note), data: { controller: "hotkey", action: "keydown.shift+ctrl+v@document->hotkey#click", note_nav: "view" }, class: "btn btn--outline"  %>
      <% end %>
      <% if local_assigns[:cancel_path] %>
        <%= link_to "Close", cancel_path, data: { controller: "hotkey", action: "keydown.shift+ctrl+c@document->hotkey#click", note_nav: "close" }, class: "btn btn--outline" %>
      <% end %>
      <%= form.submit "Save", data: { note_nav: "save" } %>
    </menu>
  </div>

  <%= form.hidden_field :folder_id %>

  <div id="note-editor-<%= note.persisted? ? note.id : "new" %>" data-controller="vim-editor">
    <%= form.text_area :body, rows: 24, placeholder: "Write in Markdown...",
                              data: { vim_editor_target: "textarea" } %>
  </div>
<% end %>
