<%= form_with(model: note, url: form_url) do |form| %>
  <% if note.errors.any? %>
    <div role="alert" data-variant="error">
      <% note.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title, required: true, autofocus: true, placeholder: "Title" %>

  <% if local_assigns[:show_folder_select] %>
    <%= form.label :folder_id, "Folder" %>
    <%= form.select :folder_id, folder_options_for_select(Current.user, note.folder_id) %>
  <% else %>
    <% folder = note.folder || @folder %>
    <label>Folder</label>
    <p class="folder-path"><code><%= link_to folder_path_string(folder), folder.root? ? root_path : folder_path(folder) %></code></p>
    <%= form.hidden_field :folder_id %>
  <% end %>

  <%= form.label :body %>
  <div data-controller="vim-editor">
    <%= form.text_area :body, rows: 24, placeholder: "Write in Markdown...",
                              data: { vim_editor_target: "textarea" } %>
  </div>

  <menu class="buttons">
    <%= form.submit %>
    <% if local_assigns[:cancel_path] %>
      <%= link_to "Cancel", cancel_path, class: "button outline" %>
    <% end %>
  </menu>
<% end %>
