<%= turbo_frame_tag "new_note" do %>
  <%= form_with(model: [@folder, @note], class: "inline-form", data: { turbo_frame: "_top" }) do |form| %>
    <% if @note.errors.any? %>
      <div role="alert" data-variant="error">
        <% @note.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <%= form.hidden_field :folder_id %>
    <%= form.text_field :title, required: true, autofocus: true, placeholder: "Note title", "aria-label": "Note title" %>
    <%= form.submit "Create Note" %>
    <%= link_to "Cancel", folder_or_root_path(@folder) %>
  <% end %>
<% end %>
