<article>
  <% unless @note.folder.root? %>
    <nav aria-label="breadcrumb">
      <ul>
        <li><%= link_to "Notes", root_path %></li>
        <% @note.folder.ancestors.reject(&:root?).each do |ancestor| %>
          <li><%= link_to ancestor.name, ancestor %></li>
        <% end %>
        <li><%= link_to @note.folder.name, @note.folder %></li>
      </ul>
    </nav>
  <% end %>

  <h1><%= @note.title %></h1>

  <div><%= @note.body %></div>

  <menu class="buttons">
    <%= link_to "Edit", edit_folder_note_path(@note.folder, @note), class: "button" %>
    <%= link_to "Back", @note.folder.root? ? root_path : folder_path(@note.folder), class: "button outline" %>
    <%= button_to "Delete", folder_note_path(@note.folder, @note), method: :delete, class: "ghost", data: { turbo_confirm: "Are you sure?" } %>
  </menu>
</article>
