<div class="folder-shell__pane" data-mode="viewing">
  <menu class="btn-group">
    <code style="width: 100%; margin: 4px 0; padding: 6px 8px;"><%= @note.title %>.md</code>
    <%= link_to "Edit", edit_folder_note_path(@note.folder, @note),
        data: { controller: "hotkey", action: "keydown.shift+ctrl+i@document->hotkey#click" },
        class: "btn btn--outline" %>
    <%= link_to "Close", folder_or_root_path(@note.folder),
        data: { controller: "hotkey", action: "keydown.shift+ctrl+c@document->hotkey#click" },
        class: "btn btn--outline" %>
    <%= button_to "Delete", folder_note_path(@note.folder, @note), method: :delete,
        class: "btn btn--ghost txt-negative",
        form: { data: { turbo_frame: "_top" } },
        data: { turbo_confirm: "Are you sure?" } %>
  </menu>

  <article class="prose" data-controller="syntax-highlight mermaid"><%= render_markdown(@note.body) %></article>
</div>
