<nav data-topnav>
  <% if authenticated? %>
    <ul>
      <li><%= link_to "Flownote", root_path %></li>
    </ul>
    <ul>
      <li>
        <button class="btn--ghost btn--small" data-search-open aria-label="Search" title="Search (Ctrl+Shift+\)">
          <%= render "icons/search" %>
        </button>
      </li>
      <%= render "topnav/theme_toggle" %>
      <li><%= button_to "Sign out", session_path, method: :delete, class: "btn--ghost btn--small" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "Flownote", root_path %></li>
    </ul>
    <ul>
      <%= render "topnav/theme_toggle" %>
      <li><%= link_to "Sign in", new_session_path %></li>
      <li><%= link_to "Sign up", new_registration_path, class: "btn btn--small" %></li>
    </ul>
  <% end %>
</nav>
