<%= turbo_frame_tag dom_id(@folder, :edit) do %>
  <div class="inline-form">
    <%= form_with(model: @folder, data: { turbo_frame: "_top" }) do |form| %>
      <% if @folder.errors.any? %>
        <div role="alert" class="alert alert--error">
          <% @folder.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
      <%= form.hidden_field :parent_id %>
      <%= form.text_field :name, required: true, autofocus: true, placeholder: "Folder name", "aria-label": "Folder name" %>
      <%= form.submit "Save" %>
    <% end %>
    <%= link_to "Cancel", folder_path(@folder) %>
  </div>
<% end %>
