<aside class="folder-shell__sidebar">
  <ul class="file-listing">
  <% unless @folder.root? %>
    <li>
      <%= link_to(folder_or_root_path(@folder.parent),
                  data: { turbo_stream: true, turbo_action: "advance" }) do %>
        <span class="file-listing__type">d</span>
        <span class="file-listing__name--folder">../</span>
      <% end %>
    </li>
  <% end %>
  <% @subfolders.each do |subfolder| %>
    <li>
      <%= link_to folder_path(subfolder),
                  data: { turbo_stream: true, turbo_action: "advance" } do %>
        <span class="file-listing__type">d</span>
        <span class="file-listing__name--folder"><%= subfolder.name %>/</span>
      <% end %>
    </li>
  <% end %>
  <% @sidebar_notes.each do |note| %>
    <%= tag.li("aria-current": ("page" if @note && note.id == @note.id)) do %>
      <%= link_to edit_folder_note_path(@folder, note),
                  data: { turbo_stream: true, turbo_action: "advance" } do %>
        <span class="file-listing__type">-</span>
        <span class="file-listing__name"><%= note.title %></span>
      <% end %>
    <% end %>
  <% end %>
  <% if @subfolders.empty? && @sidebar_notes.empty? %>
    <li class="folder-shell__sidebar-empty">This folder is empty.</li>
  <% end %>
  </ul>

  <div class="folder-shell__sidebar-actions">
    <%= turbo_frame_tag "new_note" %>
    <%= turbo_frame_tag "new_folder" %>
    <menu class="btn-group">
      <%= link_to "New note", new_folder_note_path(@folder), data: { turbo_frame: "new_note" }, class: "btn" %>
      <%= link_to "New folder", new_folder_path(parent_id: @folder.id), data: { turbo_frame: "new_folder" }, class: "btn btn--outline" %>
    </menu>
  </div>
</aside>
