<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "topnav/topnav" %>

    <main class="<%= content_for(:main_class).presence || "container" %>">
      <% unless content_for?(:main_class) %>
        <%= render "shared/flashes" %>
      <% end %>
      <%= content_for?(:main) ? content_for(:main) : yield %>
    </main>
  </body>
</html>
