<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body>
    <%= render "topnav/topnav" %>

    <% if folder_shell? %>
      <main class="folder-shell">
        <%= turbo_stream_from(@note || @folder) %>

        <%= render "layouts/shared/folder_context" %>

        <%= render "layouts/shared/editor_main" do %>
          <%= yield %>
        <% end %>
      </main>
    <% else %>
      <main class="container">
        <%= render "layouts/shared/flashes" %>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
