<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body>
    <%= render "topnav/topnav" %>
    <%= render "shared/search" if authenticated? %>
    <%= render "shared/shortcuts" if authenticated? %>

    <% if folder_shell? %>
      <main class="folder-shell">
        <%= turbo_stream_from @folder %>
        <%= turbo_stream_from @note if @note %>

        <%= render "topnav/context" %>
        <%= render "sidebar/sidebar" %>
        <div class="folder-shell__main"><%= yield %></div>
      </main>
    <% else %>
      <main class="container">
        <%= render "layouts/shared/flashes" %>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
